@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Show me the time <img src="~/minion_clock.jpg" style="height: 40px; width:30px;"></h1>

<div id="Segundos">

</div>
<div id="Minutos">

</div>
<div id="Horas">

</div>
